@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer components{
   .btn-default {
    @apply w-[32px] h-[32px] p-2 cursor-pointer hover:opacity-85 md:hidden
   }
   .user-detail {
    @apply shadow-md p-4  bg-white rounded-md
   }
   .flex-box-default {
    @apply flex  items-center justify-between
   }
   .footer-post {
    @apply p-2 rounded-md flex items-center gap-2 bg-gray-100 hover:bg-gray-200
   }
}

html ::-webkit-scrollbar {
  border-radius: 0px;
  width: 2px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}